.made-c-radio-group {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.made-c-radio-group--horizontal {
  flex-direction: row;
}

.made-c-radio {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.made-c-radio__label {
  align-items: center;
  cursor: pointer;
  display: flex;
  line-height: var(--made-line-height-default);
  margin-bottom: var(--made-space-3-x);
  position: relative;
}

.made-c-radio__label::before {
  background-color: transparent;
  border: 1px solid var(--made-forms-color-border-default);
  border-radius: 50%;
  content: "";
  height: 0.875rem;
  margin: 0 var(--made-space-2-x) 0 0;
  min-width: 0.875rem;
}

.made-c-radio:focus + .made-c-radio__label::before {
  outline: 2px solid var(--made-color-action-border-focus);
  outline-offset: 2px;
}

.made-c-radio:checked + .made-c-radio__label::after {
  background: var(--made-color-action-background-primary-default);
  border-radius: 50%;
  content: "";
  height: 6px; /* No design token for 6px*/
  left: 5px; /* No design token for 6px*/
  position: absolute;
  width: 6px; /* No design token for 6px*/
  top: 50%;
  transform: translateY(-50%);
}

.made-c-radio:disabled + .made-c-radio__label,
.made-c-radio[aria-disabled="true"] + .made-c-radio__label {
  color: var(--made-color-action-text-disabled);
  cursor: not-allowed;
}

.made-c-radio:disabled + .made-c-radio__label::before,
.made-c-radio[aria-disabled="true"] + .made-c-radio__label::before {
  background-color: var(--made-color-action-background-disabled);
  border: 1px solid var(--made-color-action-border-disabled);
  opacity: var(--made-opacity-15);
  outline: none;
}

.made-c-radio:disabled:checked + .made-c-radio__label::after,
.made-c-radio:checked[aria-disabled="true"] + .made-c-radio__label::after {
  background: var(--made-color-action-text-disabled);
}

.made-c-radio__label--error {
  color: var(--made-color-feedback-text-error);
}

.made-c-radio__label--error::before {
  border: 1px solid var(--made-color-feedback-border-error);
}

.made-c-radio:checked + .made-c-radio__label--error::after {
  background: var(--made-color-feedback-background-error);
}

.made-c-radio-group--error {
  border: 2px solid var(--made-color-feedback-border-error);
  border-radius: var(--made-border-radius-default);
  padding: var(--made-space-3-x) var(--made-space-3-x) 0 var(--made-space-3-x);
}

.made-c-radio-group--success {
  border: 2px solid var(--made-color-feedback-border-success);
  border-radius: var(--made-border-radius-default);
  padding: var(--made-space-3-x) var(--made-space-3-x) 0 var(--made-space-3-x);
}
