.made-c-button {
  align-items: center;
  border-radius: var(--made-button-border-radius);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--made-font-body-family-bold);
  font-size: var(--made-font-body-size-large);
  justify-content: center;
  line-height: var(--made-size-10-x);
  max-height: var(--made-size-10-x);
  min-height: var(--made-size-10-x);
  padding: 0 var(--made-space-8-x);
}

.made-c-button:focus {
  outline: 2px solid var(--made-color-action-border-focus);
  outline-offset: 2px;
}

.made-c-button:disabled,
.made-c-button[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: var(--made-opacity-50);
}

.made-c-button--primary {
  background: var(--made-color-action-background-primary-default);
  border-color: var(--made-color-action-border-primary-default);
  color: var(--made-color-action-text-on-primary);
}

.made-c-button--icon {
  padding: 0 var(--made-space-4-x) 0 var(--made-space-6-x);
}

.made-c-button--primary:hover {
  background: var(--made-color-action-background-primary-hover);
  border-color: var(--made-color-action-border-primary-hover);
  color: var(--made-color-action-text-on-primary);
}

.made-c-button--primary:active {
  background: var(--made-color-action-background-primary-active);
  border-color: var(--made-color-action-border-primary-active);
  color: var(--made-color-action-text-on-primary);
}

.made-c-button--primary:disabled,
.made-c-button--primary-on-dark:disabled,
.made-c-button--primary[aria-disabled="true"],
.made-c-button--primary-on-dark[aria-disabled="true"] {
  background: var(--made-color-action-background-disabled);
  border-color: var(--made-color-action-border-disabled);
  color: var(--made-color-action-text-on-disabled);
}

.made-c-button--primary-on-dark {
  background: var(--made-color-action-background-on-dark-default);
  border-color: var(--made-color-action-border-on-dark-default);
  color: var(--made-color-action-text-on-dark);
}

.made-c-button--primary-on-dark:hover {
  background: var(--made-color-action-background-on-dark-hover);
  border-color: var(--made-color-action-border-on-dark-hover);
  color: var(--made-color-action-text-on-dark);
}

.made-c-button--primary-on-dark:active {
  background: var(--made-color-action-background-on-dark-active);
  border-color: var(--made-color-action-border-on-dark-active);
  color: var(--made-color-action-text-on-dark);
}

.made-c-button--secondary {
  background: var(--made-color-action-background-secondary-default);
  border-color: var(--made-color-action-border-secondary-default);
  border-style: solid;
  border-width: 2px;
  color: var(--made-color-action-text-secondary-default);
}

.made-c-button--secondary:hover {
  background: var(--made-color-action-background-secondary-hover);
  border-color: var(--made-color-action-border-secondary-hover);
  color: var(--made-color-action-text-secondary-hover);
}

.made-c-button--secondary:active {
  background: var(--made-color-action-background-secondary-active);
  border-color: var(--made-color-action-border-secondary-active);
  color: var(--made-color-action-text-secondary-active);
}

.made-c-button--secondary:disabled,
.made-c-button--secondary-on-dark:disabled,
.made-c-button--secondary[aria-disabled="true"],
.made-c-button--secondary-on-dark[aria-disabled="true"] {
  background-color: transparent;
  border-color: var(--made-color-action-border-disabled);
  color: var(--made-color-action-text-disabled);
}

.made-c-button--secondary-on-dark {
  background: transparent;
  border-color: var(--made-color-action-border-on-dark-default);
  color: var(--made-color-action-text-on-dark-default);
  border-style: solid;
  border-width: 2px;
}

.made-c-button--secondary-on-dark:hover {
  border-color: var(--made-color-action-border-on-dark-hover);
  color: var(--made-color-action-text-on-dark-hover);
}

.made-c-button--secondary-on-dark:active {
  border-color: var(--made-color-action-border-on-dark-active);
  color: var(--made-color-action-text-on-dark-active);
}

.made-c-button--ghost {
  background: transparent;
  border: none;
  border-radius: 0;
  color: var(--made-color-text-default-on-light);
  max-height: var(--made-size-10-x);
  min-height: var(--made-size-10-x);
  padding: var(--made-space-1-x) 0;
  text-align: left;
}

.made-c-button--ghost:hover,
.made-c-button--ghost:active {
  color: var(--made-color-text-default-on-light);
}

.made-c-button--ghost:hover .made-c-button--ghost__icon,
.made-c-button--ghost:active .made-c-button--ghost__icon {
  fill: var(--made-color-action-text-primary-hover);
}

.made-c-button--ghost-on-dark {
  background: transparent;
  border: none;
  border-radius: 0;
  color: var(--made-color-action-text-on-dark-default);
  padding: var(--made-space-1-x) var(--made-space-2-x);
  position: relative;
}

.made-c-button--ghost-on-dark:hover,
.made-c-button--ghost:hover {
  text-decoration: underline;
}

.made-c-button--ghost-on-dark:disabled,
.made-c-button--ghost:disabled,
.made-c-button--ghost-on-dark[aria-disabled="true"],
.made-c-button--ghost[aria-disabled="true"] {
  color: var(--made-color-action-text-disabled);
  text-decoration: none;
}

.made-c-button--ghost-on-dark:hover {
  color: var(--made-color-action-text-on-dark-hover);
}

.made-c-button--ghost:hover .made-c-button--ghost__icon {
  fill: var(--made-color-action-text-on-dark-hover);
}

.made-c-button--ghost-on-dark:active {
  color: var(--made-color-action-text-on-dark-active);
}

.made-c-button--ghost:active .made-c-button--ghost__icon {
  fill: var(--made-color-action-text-on-dark-active);
}

.made-c-button__icon--ghost {
  margin: 0 0 0 var(--made-space-1-x);
}

.made-c-button__icon {
  margin: 0 0 0 var(--made-space-8-x);
}

.made-c-button--small {
  font-size: var(--made-font-body-size-default);
  line-height: var(--made-size-6-x);
  max-height: var(--made-size-6-x);
  min-height: var(--made-size-6-x);
  padding: 0 var(--made-space-6-x);
}

.made-c-button--close {
  background: transparent;
  border: none;
  color: var(--made-color-text-default-on-light);
  cursor: pointer;
  padding: 0;
  line-height: 0;
  position: absolute;
  right: var(--made-space-6-x);
  top: var(--made-space-6-x);
}

.made-c-button--close:hover {
  opacity: var(--made-opacity-75);
}

.made-c-button--close:focus {
  outline: 2px solid var(--made-color-action-border-focus);
  outline-offset: 2px;
}

.made-c-button__icon--close {
  height: var(--made-size-4-x);
  width: var(--made-size-4-x);
}
