.made-u-display-flex {
	display: flex;
}

.made-u-display-inline-flex {
	display: inline-flex;
}

.made-u-flex-row {
	flex-direction: row;
}

.made-u-flex-column {
	flex-direction: column;
}

.made-u-flex-row-reverse {
	flex-direction: row-reverse;
}

.made-u-flex-column-reverse {
	flex-direction: column-reverse;
}

.made-u-justify-content-start {
	justify-content: flex-start;
}

.made-u-justify-content-end {
	justify-content: flex-end;
}

.made-u-justify-content-center {
	justify-content: center;
}

.made-u-justify-content-between {
	justify-content: space-between;
}

.made-u-justify-content-around {
	justify-content: space-around;
}

.made-u-justify-content-evenly {
	justify-content: space-evenly;
}

.made-u-align-items-start {
	align-items: flex-start;
}

.made-u-align-items-end {
	align-items: flex-end;
}

.made-u-align-items-center {
	align-items: center;
}

.made-u-align-items-baseline {
	align-items: baseline;
}

.made-u-align-items-stretch {
	align-items: stretch;
}

.made-u-align-self-auto {
	align-self: auto;
}

.made-u-align-self-start {
	align-self: flex-start;
}

.made-u-align-self-end {
	align-self: flex-end;
}

.made-u-align-self-center {
	align-self: center;
}

.made-u-align-self-baseline {
	align-self: baseline;
}

.made-u-align-self-stretch {
	align-self: stretch;
}

.made-u-flex-grow-0 {
	flex-grow: 0;
}

.made-u-flex-grow-1 {
	flex-grow: 1;
}

.made-u-flex-shrink-0 {
	flex-shrink: 0;
}

.made-u-flex-shrink-1 {
	flex-shrink: 1;
}

.made-u-flex-1 {
	flex: 1;
}
.made-u-flex-auto {
	flex: auto;
}

.made-u-flex-wrap {
	flex-wrap: wrap;
}

.made-u-flex-nowrap {
	flex-wrap: nowrap;
}

.made-u-flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.made-u-align-content-start {
	align-content: flex-start;
}

.made-u-align-content-end {
	align-content: flex-end;
}

.made-u-align-content-center {
	align-content: center;
}

.made-u-align-content-between {
	align-content: space-between;
}

.made-u-align-content-around {
	align-content: space-around;
}

.made-u-align-content-stretch {
	align-content: stretch;
}

@media only screen and (min-width: 600px) {
	.made-u-display-flex--md {
		display: flex;
	}

	.made-u-display-inline-flex--md {
		display: inline-flex;
	}

	.made-u-flex-row--md {
		flex-direction: row;
	}

	.made-u-flex-column--md {
		flex-direction: column;
	}

	.made-u-flex-row-reverse--md {
		flex-direction: row-reverse;
	}

	.made-u-flex-column-reverse--md {
		flex-direction: column-reverse;
	}

	.made-u-justify-content-start--md {
		justify-content: flex-start;
	}

	.made-u-justify-content-end--md {
		justify-content: flex-end;
	}

	.made-u-justify-content-center--md {
		justify-content: center;
	}

	.made-u-justify-content-between--md {
		justify-content: space-between;
	}

	.made-u-justify-content-around--md {
		justify-content: space-around;
	}

	.made-u-justify-content-evenly--md {
		justify-content: space-evenly;
	}

	.made-u-align-items-start--md {
		align-items: flex-start;
	}

	.made-u-align-items-end--md {
		align-items: flex-end;
	}

	.made-u-align-items-center--md {
		align-items: center;
	}

	.made-u-align-items-baseline--md {
		align-items: baseline;
	}

	.made-u-align-items-stretch--md {
		align-items: stretch;
	}

	.made-u-align-self-auto--md {
		align-self: auto;
	}

	.made-u-align-self-start--md {
		align-self: flex-start;
	}

	.made-u-align-self-end--md {
		align-self: flex-end;
	}

	.made-u-align-self-center--md {
		align-self: center;
	}

	.made-u-align-self-baseline--md {
		align-self: baseline;
	}

	.made-u-align-self-stretch--md {
		align-self: stretch;
	}

	.made-u-flex-grow-0--md {
		flex-grow: 0;
	}

	.made-u-flex-grow-1--md {
		flex-grow: 1;
	}

	.made-u-flex-shrink-0--md {
		flex-shrink: 0;
	}

	.made-u-flex-shrink-1--md {
		flex-shrink: 1;
	}

	.made-u-flex-1--md {
		flex: 1;
	}

	.made-u-flex-auto--md {
		flex: auto;
	}

	.made-u-flex-wrap--md {
		flex-wrap: wrap;
	}

	.made-u-flex-nowrap--md {
		flex-wrap: nowrap;
	}

	.made-u-flex-wrap-reverse--md {
		flex-wrap: wrap-reverse;
	}

	.made-u-align-content-start--md {
		align-content: flex-start;
	}

	.made-u-align-content-end--md {
		align-content: flex-end;
	}

	.made-u-align-content-center--md {
		align-content: center;
	}

	.made-u-align-content-between--md {
		align-content: space-between;
	}

	.made-u-align-content-around--md {
		align-content: space-around;
	}

	.made-u-align-content-stretch--md {
		align-content: stretch;
	}
}

@media only screen and (min-width: 960px) {
	.made-u-display-flex--lg {
		display: flex;
	}

	.made-u-display-inline-flex--lg {
		display: inline-flex;
	}

	.made-u-flex-row--lg {
		flex-direction: row;
	}

	.made-u-flex-column--lg {
		flex-direction: column;
	}

	.made-u-flex-row-reverse--lg {
		flex-direction: row-reverse;
	}

	.made-u-flex-column-reverse--lg {
		flex-direction: column-reverse;
	}

	.made-u-justify-content-start--lg {
		justify-content: flex-start;
	}

	.made-u-justify-content-end--lg {
		justify-content: flex-end;
	}

	.made-u-justify-content-center--lg {
		justify-content: center;
	}

	.made-u-justify-content-between--lg {
		justify-content: space-between;
	}

	.made-u-justify-content-around--lg {
		justify-content: space-around;
	}

	.made-u-justify-content-evenly--lg {
		justify-content: space-evenly;
	}

	.made-u-align-items-start--lg {
		align-items: flex-start;
	}

	.made-u-align-items-end--lg {
		align-items: flex-end;
	}

	.made-u-align-items-center--lg {
		align-items: center;
	}

	.made-u-align-items-baseline--lg {
		align-items: baseline;
	}

	.made-u-align-items-stretch--lg {
		align-items: stretch;
	}

	.made-u-align-self-auto--lg {
		align-self: auto;
	}

	.made-u-align-self-start--lg {
		align-self: flex-start;
	}

	.made-u-align-self-end--lg {
		align-self: flex-end;
	}

	.made-u-align-self-center--lg {
		align-self: center;
	}

	.made-u-align-self-baseline--lg {
		align-self: baseline;
	}

	.made-u-align-self-stretch--lg {
		align-self: stretch;
	}

	.made-u-flex-grow-0--lg {
		flex-grow: 0;
	}

	.made-u-flex-grow-1--lg {
		flex-grow: 1;
	}

	.made-u-flex-shrink-0--lg {
		flex-shrink: 0;
	}

	.made-u-flex-shrink-1--lg {
		flex-shrink: 1;
	}

	.made-u-flex-1--lg {
		flex: 1;
	}

	.made-u-flex-auto--lg {
		flex: auto;
	}

	.made-u-flex-wrap--lg {
		flex-wrap: wrap;
	}

	.made-u-flex-nowrap--lg {
		flex-wrap: nowrap;
	}

	.made-u-flex-wrap-reverse--lg {
		flex-wrap: wrap-reverse;
	}

	.made-u-align-content-start--lg {
		align-content: flex-start;
	}

	.made-u-align-content-end--lg {
		align-content: flex-end;
	}

	.made-u-align-content-center--lg {
		align-content: center;
	}

	.made-u-align-content-between--lg {
		align-content: space-between;
	}

	.made-u-align-content-around--lg {
		align-content: space-around;
	}

	.made-u-align-content-stretch--lg {
		align-content: stretch;
	}
}
